venv
api.env

data/raw


# large files
src/predictions/prices/models/evaluation/test_data/X_test.npy
src/predictions/prices/models/evaluation/test_data/X_val.npy

src/predictions/prices/models_v2/X_test_v2.npy

src/predictions/prices/models_v2_baseline/X_test_baseline.npy

src/predictions/prices/models_v2_price_weather/X_test_price_weather.npy

src/predictions/prices/models_v2_price_weather_grid/X_test_price_weather_grid.npy


# all pkl files
*.pkl

# all log files
*.log

